:root {
  --accent: rgb(251, 161, 49);
  --accent-dark: rgb(240, 122, 40);
  --primary-dark: rgba(133, 193, 163, 1);
  --primary-darker: #6c9580;
  --text-color: rgba(62, 71, 67, 1);
  --bg-color: #353937;
  --tab-color: rgba(47, 187, 137, 1);
  --btn-color: #85c1a3;
  --danger-color: rgba(221, 84, 33, 1);
  --text-dark: rgba(101, 207, 143, 1);
  --text-light: rgba(153, 175, 166, 1);
  --text-Mlight: rgba(135, 143, 140, 1);
  --text-color2: rgba(65, 200, 143, 1);
  --bg-gradient: linear-gradient(#fff 0%, #f5fffa 91.67%);
  --danger: #dd5421;
  --font-family1: Albra;
  --font-family2: 'Circular Std';
  --font-family3: 'Gotham';
  --btn-box-shadow: 0px 2px 0px #f07a28;
  --neutral-lightest: #fff;
  --refil-color: #3e4743;
  --border-color1: rgba(133, 193, 163, 0.2);
}
