@font-face {
  font-family: 'Circular Std';
  src: url(/fonts/Circular-Std-Font/CircularStd-Book.otf);
}
@font-face {
  font-family: 'Albra';
  src: url(/fonts/Albra/Albra-Regular.otf);
}

@font-face {
  font-family: 'Gotham';
  src: url(/fonts/Gotham/Gotham-Book.otf);
}
